.c-btn {
    padding: $base-grid-size $base-grid-size * 2;
    border-radius: 2.2rem;
    font-family: $font-heading;
    font-size: 2.4rem;
    font-weight: 800;
    background-color: $color-primary;
    color: $color-white;
    border: none;
    box-shadow: 0 .3rem 0 0 #473100;
    cursor: pointer;
    transform: translateY(0);

    transition: box-shadow .1s, transform .1s;
}

.c-btn:active {
    box-shadow: 0 0 0 0 #473100;
    transform: translateY(.3rem);
}
