.c-card-option {
    position: relative;
    cursor: pointer;
}

.c-card-option--disabled {
    opacity: .7;
    cursor: default;
}

.c-card-option__frame {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.c-card-option--selected > .c-card-option__frame {
    box-shadow: inset 0 0 0 .6rem $color-highlight;
}

.c-card-option__focus {
    display: none;
    position: absolute;
    padding: $base-grid-size;
    top: -$base-grid-size - .4rem;
    left: -$base-grid-size - .4rem;
    background-color: $color-mid-start;
    z-index: 2;
    border: .4rem solid $color-highlight;
}

.c-card-option:hover > .c-card-option__focus {
    display: flex;
}

.c-card-option__description {
    text-align: left;
    width: 20rem;
    margin-left: $base-grid-size;
    color: $color-black;
    font-family: $font-body;
}