.c-dropdown {
    border: solid 1px $color-primary;
    height: 4.4rem;
    background-color: $color-white;
    border-radius: .4rem;
    font-family: $font-body;
    font-size: 1.6rem;
    color: $color-black;
    padding: 0 $base-grid-size;
}