.o-h-list {
    display: flex;
}

.o-h-list > * + * {
    margin-left: $base-grid-size;
}

.o-h-list--baseline {
    align-items: baseline;
}

.o-h-list--center {
    align-items: center;
}

@for $i from 2 through 4 {
    .o-h-list--x#{$i} > * + * {
        margin-left: $base-grid-size * $i;
    }
};
