.o-split > * + * {
    margin-top: $base-grid-size;
}

@include bpSmall() {
    .o-split {
        display: flex;
        justify-content: space-between;
    }

    .o-split--v-center {
        align-items: center;
    }

    .o-split > * + * {
        margin-top: 0;
    }
}
