$font-heading: 'Overlock', serif;
$font-body: 'Lato', sans-serif;

$color-black: #332501;
$color-white: #FCFBF8;
$color-primary: #745206;
$color-highlight: #D4940A;
$color-mid-start: #F5EFDE;
$color-mid-end: #E9CD88;
