$font-heading: 'Overlock', serif;
$font-body: 'Lato', sans-serif;

$color-black: #332501;
$color-primary: #745206;
$color-highlight: #EABF63;
$color-mid-start: #F5EFDE;
$color-mid-end: #E9CD88;
$color-white: #FCFBF8;
$color-black-transparent: rgba(34, 34, 34, .9);

$base-grid-size: .8rem;
